<launch>

<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find bunker_explorer_navigation)/params_outdoorway/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find bunker_explorer_navigation)/params_outdoorway/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find bunker_explorer_navigation)/params_outdoorway/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find bunker_explorer_navigation)/params_outdoorway/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find bunker_explorer_navigation)/params_outdoorway/base_local_planner_params.yaml" command="load" />
    <remap from="/cmd_vel" to="/smoother_cmd_vel"/>
    
    <rosparam file="$(find bunker_explorer_navigation)/params_outdoorway/move_base_params.yaml" command="load" />



    <!-- based on outdoor waypoint documentation -->
    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

    <remap from="odom" to="/outdoor_waypoint_nav/odometry/filtered_map" />
    <remap from="/map" to="/outdoor_waypoint_nav/map" />
</node>

</launch> 